[submodule ".vim/plugged/ale"]
	path = .vim/plugged/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/plugged/rust.vim"]
	path = .vim/plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim
